[submodule "external/ADS"]
	path = external/ADS
	url = https://github.com/Beckhoff/ADS.git
[submodule "external/magic_enum"]
	path = external/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/elements"]
	path = external/elements
	url = https://github.com/cycfi/elements.git
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "external/open62541"]
	path = external/open62541
	url = https://github.com/open62541/open62541.git
