[submodule "extern/qcoro"]
	path = extern/qcoro
	url = https://github.com/qcoro/qcoro.git
[submodule "extern/ADS"]
	path = extern/ADS
	url = https://github.com/Beckhoff/ADS.git
[submodule "extern/format_utils"]
	path = extern/format_utils
	url = https://github.com/daleondev/format_utils.git
[submodule "extern/open62541"]
	path = extern/open62541
	url = https://github.com/open62541/open62541.git
[submodule "extern/asio"]
	path = extern/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "extern/kdl"]
	path = extern/kdl
	url = https://github.com/orocos/orocos_kinematics_dynamics.git
[submodule "extern/eigen"]
	path = extern/eigen
	url = https://gitlab.com/libeigen/eigen.git
